body {font-family: helvetica;}
a {text-decoration: none;}
h1 a:link {color: hsl(180,80%,30%);}
h1 a:visited {color: hsl(180,80%,30%);}
h1 a:hover {color: hsl(180,50%,60%);}
h1 a:active {color: hsl(180,80%,30%);}
ul a:link {color: rgb(64,64,64);}
ul a:visited {color: rgb(64,64,64);}
ul a:hover {color: rgb(144,144,144);}
ul a:active {color: rgb(240,240,240);}
h1 {position: fixed; left: 70px; top: 20px;}
h2 {color: hsl(0,90%,85%);}
ul.main-menu {list-style-type: none; display: block; position: absolute; left: 60px; top: 110px}
div.main-content {position: absolute; left: 350px; top: 200px;}
footer {position: fixed; left: 70px; bottom: 30px;}
